@import './variables.scss';

.background {
  background: rgba(145, 145, 192, 0.678);
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;
}
.formParent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.plate {
  display: flex;
  position: relative;
  width: 35%;
  background: linear-gradient(to top, white 84%, $primary 16%);
  border-radius: 15px;
  padding: 5px 20px;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 6px 25px 0 rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  @media (max-width: 1370px) {
    width: 30%;
  }
  @media (max-width: 1270px) {
    width: 35%;
  }
  @media (max-width: 1170px) {
    width: 40%;
  }
  @media (max-width: 1024px) {
    width: 50%;
  }

  @media (max-width: 700px) {
    width: 70%;
  }
  @media (max-width: 500px) {
    width: 90%;
  }
}

.borders {
  width: 70%;
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin: 25px auto;

  @media (max-width: 500px) {
    font-size: 10px;
  }
}

.title {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
  font-size: 23px;
}

.element {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  & label {
    width: 150px;
  }
}

.element:last-child {
  margin-top: 10px;
}
