.tableContainerManagers {
  width: 90%;
  margin: 0 auto;
  padding: 40px;

  .flexBlock {
    display: flex;
    flex-direction: column;
    padding: 0;
    .textResponsive {
      font-size: 17.5px;
      padding-left: 42px;

      @media (max-width: 500px) {
        font-size: 14px;
      }
    }
    .managementBtn {
      font-size: 17.5px;
      margin-right: 42px;

      @media (max-width: 500px) {
        font-size: 14px;
      }
    }
  }
  .filterSearchBlock {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }
  .btnBlock {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-around;
  }

  .tableRow {
    vertical-align: middle;
  }
}
