.tableContainerManagement {
  max-width: 90%;
  margin: auto;
  padding-top: 40px;

  .flexBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    .textResponsive {
      font-size: 17.5px;
      padding-left: 42px;

      @media (max-width: 500px) {
        font-size: 14px;
      }
    }

    .managementBtn {
      font-size: 17.5px;
      margin-right: 42px;

      @media (max-width: 500px) {
        font-size: 14px;
      }
    }
  }

  .btnBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & div {
      width: 30px;
      height: 30px;
      overflow: hidden;
      margin-right: 5px;
      background-color: transparent;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .tableRow {
    vertical-align: middle;
    word-break: break-all;

    @media (max-width: 755px) {
      word-break: normal;
    }
  }
}
.filterBlock {
  margin: 0 auto;
}

.avatar {
  height: 25px;
  width: 25px;
  border-width: 1px;
  border-radius: 5px;
  border-color: #5a5c69;
  border-style: outset;

  vertical-align: middle;

}
